@import './../../../styles/variables.scss';

header {
    background-color: black;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

#picklist {
    display: none;
    &::before {
        content: "\f039";
    }
}

#menu {
    width: 100%;
    display: flex;

}

.header-container {
    display: flex;
}

#logo {
    width: 4rem;
    height: 4rem;
    display: inline-block;

    .fa {
        font-size: 3.8rem;
        margin-top: 0.6rem;
        color: orange;
        transition: 1s;

        &:hover {
            color: white;
            transform: scale(1.3);
        }
    }
}

#user-info {
    color: white;
    margin-left: 4rem;

    span {
        margin-top: 1.8rem;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: top;

        &::before {
            content: "\f2bd";
            font-family: FontAwesome;
            width: 2rem;
            height: 2rem;
            margin: 0 1rem;
            font-size: 2rem;
            vertical-align: middle;
        }
    }
}

nav {
    display: flex;
    flex-grow: 1;

    ul {
        display: flex;
        height: 5.4rem;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        li {
            list-style: none;
            padding-left: 4.5rem;

            &:first-of-type {
                padding-left: 0;
            }
        }

        a {
            color: white;
            font-weight: 700;
            background: none;
            &:hover,
            &.active {
                color: orange;
            }
        }

        li.is-current a {
            color: orange;
        }
    }

    select {
        padding: 0;
        color: white;
        cursor: pointer;
        background: transparent;
        font-weight: bold;
        border: none;
        font-size: 15px;

        &:hover {
            color: orange;
        }

        option {
            color: black;
        }
    }

}

@media (max-width: $screen-xs-landscape) {
    .header-container {
        display: block;
    }

    #logo .fa {
        font-size: 2.8rem;
    }

    #menu {
        display: none;
        height: auto;
        clear: both;
        padding-bottom: 25px;
        border-top: 1px solid #fff;
        nav {
            display: block;

            ul {
                flex-direction: column;
                display: flex;
                height: auto;
                align-items: left;
                justify-content: left;
                margin-left: auto;

                li {
                    border-bottom: 1px solid #6d6868;
                    width: 100%;
                    padding: 0;
                }

                a {
                    margin: 10px 8px;
                    display: inline-block;
                }
            }

            select {
                margin: 9px 4px;
            }
        }

        #user-info {
            margin: 10px 0;

            span {
                margin-top: 2px;
            }
        }
    }

    #picklist {
        width: 3rem;
        color: white;
        height: 3rem;
        width: 3rem;
        color: white;
        height: 3rem;
        position: absolute;
        cursor: pointer;
        right: 3px;
        top: 10px;
        font-size: 21px;
        display: block;
    }
    
    header.open {
        z-index: 3;
        #picklist::before {
            content: "\f00d";
            margin-left: 3px;
        }
        #menu {
            display: block;
            z-index: 3;
        }
    }
}