@import './../../../../styles/variables.scss';

#search-lists {
    .list {
        display: flex;
        margin-top: 1.5rem;
        position: relative;
        width: 100%;
    }

    h3 {
        margin: 0 0 0.2rem;
        text-transform: uppercase;
    }

    .distance {
        font-size: 1.1rem;
        margin-top: 0.2rem;
    }

    .description {
        margin-top: 1rem;
        max-height: 4rem;

        span {
            display: inline;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
        }
    }

    .search-list-col-1 {
        width: 45rem;
        max-width: 28rem;
        align-self: center;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .search-list-col-2 {
        width: 100%;
        min-height: 18rem;
        padding: 0 0 0 1.5rem;
        display: flex;
    }

    .search-list-subcol-1 {
        width: 100%;
    }

    .search-list-subcol-2 {
        width: 21rem;
        text-align: right;

        .title {
            font-size: 1.2rem;
        }

        .value {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .amenities-container {
        max-height: 4rem;
        margin-top: 1rem;
    }

    .button {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md-landscape) {
        .search-list-col-1 {
            width: 39rem;
        }

        .search-list-col-2 {
            max-height: 18rem;
        }
    }


    @media (max-width: $screen-xs-landscape) {
        .search-list-col-1 {
            width: 18rem;
            max-height: 21.5rem;
            align-self: start;
        }

        h3 {
            font-size: 1.4rem;
        }

        .search-list-col-2 {
            display: inline-block;
            padding-left: 10px;
            min-height: 157px;
        }

        .description {
            font-size: 12px;
            margin: 5px 0px;
        }

        .amenities-container {
            margin-top: 0.5rem;
            overflow: hidden;
        }

        .search-list-subcol-2 {
            width: 100%;
        }

        .search-list-subcol-2 .title {
            font-size: 1rem;
            text-align: left;
            margin-top: 8px;
        }

        .search-list-subcol-2 .value {
            text-align: left;
            font-size: 11px;
        }

        .button {
            bottom: 0;
            right: 0;
        }
    }
}