#search-results-header {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    #no-of-results {
        font-size: 1.2rem;
    }
    .form-group {
        margin-bottom: 0;
        .form-label {
            text-align: right;
            margin: 1rem 1rem 0 0;
        }
        .form-select {
            width: 20rem;
        }
    }
}
